<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.kq.mapper.CourseMapper">
  <resultMap id="BaseResultMap" type="cc.kq.po.Course">
    <result column="classid" jdbcType="INTEGER" property="classid" />
    <result column="teaid" jdbcType="INTEGER" property="teaid" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="cday" jdbcType="INTEGER" property="cday" />
    <result column="corder" jdbcType="INTEGER" property="corder" />
    <result column="coursename" jdbcType="VARCHAR" property="coursename" />
    <result column="classname" jdbcType="VARCHAR" property="classname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    classid, teaid, addr, cday, corder, coursename, classname
  </sql>
  <select id="selectByExample" parameterType="cc.kq.po.CourseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="cc.kq.po.CourseExample">
    delete from course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cc.kq.po.Course">
    insert into course (classid, teaid, addr, 
      cday, corder, coursename, 
      classname)
    values (#{classid,jdbcType=INTEGER}, #{teaid,jdbcType=INTEGER}, #{addr,jdbcType=VARCHAR}, 
      #{cday,jdbcType=INTEGER}, #{corder,jdbcType=INTEGER}, #{coursename,jdbcType=VARCHAR}, 
      #{classname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cc.kq.po.Course">
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classid != null">
        classid,
      </if>
      <if test="teaid != null">
        teaid,
      </if>
      <if test="addr != null">
        addr,
      </if>
      <if test="cday != null">
        cday,
      </if>
      <if test="corder != null">
        corder,
      </if>
      <if test="coursename != null">
        coursename,
      </if>
      <if test="classname != null">
        classname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classid != null">
        #{classid,jdbcType=INTEGER},
      </if>
      <if test="teaid != null">
        #{teaid,jdbcType=INTEGER},
      </if>
      <if test="addr != null">
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="cday != null">
        #{cday,jdbcType=INTEGER},
      </if>
      <if test="corder != null">
        #{corder,jdbcType=INTEGER},
      </if>
      <if test="coursename != null">
        #{coursename,jdbcType=VARCHAR},
      </if>
      <if test="classname != null">
        #{classname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cc.kq.po.CourseExample" resultType="java.lang.Integer">
    select count(*) from course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update course
    <set>
      <if test="record.classid != null">
        classid = #{record.classid,jdbcType=INTEGER},
      </if>
      <if test="record.teaid != null">
        teaid = #{record.teaid,jdbcType=INTEGER},
      </if>
      <if test="record.addr != null">
        addr = #{record.addr,jdbcType=VARCHAR},
      </if>
      <if test="record.cday != null">
        cday = #{record.cday,jdbcType=INTEGER},
      </if>
      <if test="record.corder != null">
        corder = #{record.corder,jdbcType=INTEGER},
      </if>
      <if test="record.coursename != null">
        coursename = #{record.coursename,jdbcType=VARCHAR},
      </if>
      <if test="record.classname != null">
        classname = #{record.classname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update course
    set classid = #{record.classid,jdbcType=INTEGER},
      teaid = #{record.teaid,jdbcType=INTEGER},
      addr = #{record.addr,jdbcType=VARCHAR},
      cday = #{record.cday,jdbcType=INTEGER},
      corder = #{record.corder,jdbcType=INTEGER},
      coursename = #{record.coursename,jdbcType=VARCHAR},
      classname = #{record.classname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <resultMap id="BaseResultMap" type="cc.kq.po.Course">
    <result column="classid" jdbcType="INTEGER" property="classid" />
    <result column="teaid" jdbcType="INTEGER" property="teaid" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="cday" jdbcType="INTEGER" property="cday" />
    <result column="corder" jdbcType="INTEGER" property="corder" />
    <result column="classname" jdbcType="VARCHAR" property="classname" />
    <result column="teaname" jdbcType="VARCHAR" property="teaname" />
    <result column="course" jdbcType="VARCHAR" property="course" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    classid, teaid, addr, cday, corder, classname, teaname, course
  </sql>
  <select id="selectByExample" parameterType="cc.kq.po.CourseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="cc.kq.po.CourseExample">
    delete from course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cc.kq.po.Course">
    insert into course (classid, teaid, addr, 
      cday, corder, classname, 
      teaname, course)
    values (#{classid,jdbcType=INTEGER}, #{teaid,jdbcType=INTEGER}, #{addr,jdbcType=VARCHAR}, 
      #{cday,jdbcType=INTEGER}, #{corder,jdbcType=INTEGER}, #{classname,jdbcType=VARCHAR}, 
      #{teaname,jdbcType=VARCHAR}, #{course,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cc.kq.po.Course">
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classid != null">
        classid,
      </if>
      <if test="teaid != null">
        teaid,
      </if>
      <if test="addr != null">
        addr,
      </if>
      <if test="cday != null">
        cday,
      </if>
      <if test="corder != null">
        corder,
      </if>
      <if test="classname != null">
        classname,
      </if>
      <if test="teaname != null">
        teaname,
      </if>
      <if test="course != null">
        course,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classid != null">
        #{classid,jdbcType=INTEGER},
      </if>
      <if test="teaid != null">
        #{teaid,jdbcType=INTEGER},
      </if>
      <if test="addr != null">
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="cday != null">
        #{cday,jdbcType=INTEGER},
      </if>
      <if test="corder != null">
        #{corder,jdbcType=INTEGER},
      </if>
      <if test="classname != null">
        #{classname,jdbcType=VARCHAR},
      </if>
      <if test="teaname != null">
        #{teaname,jdbcType=VARCHAR},
      </if>
      <if test="course != null">
        #{course,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cc.kq.po.CourseExample" resultType="java.lang.Integer">
    select count(*) from course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update course
    <set>
      <if test="record.classid != null">
        classid = #{record.classid,jdbcType=INTEGER},
      </if>
      <if test="record.teaid != null">
        teaid = #{record.teaid,jdbcType=INTEGER},
      </if>
      <if test="record.addr != null">
        addr = #{record.addr,jdbcType=VARCHAR},
      </if>
      <if test="record.cday != null">
        cday = #{record.cday,jdbcType=INTEGER},
      </if>
      <if test="record.corder != null">
        corder = #{record.corder,jdbcType=INTEGER},
      </if>
      <if test="record.classname != null">
        classname = #{record.classname,jdbcType=VARCHAR},
      </if>
      <if test="record.teaname != null">
        teaname = #{record.teaname,jdbcType=VARCHAR},
      </if>
      <if test="record.course != null">
        course = #{record.course,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update course
    set classid = #{record.classid,jdbcType=INTEGER},
      teaid = #{record.teaid,jdbcType=INTEGER},
      addr = #{record.addr,jdbcType=VARCHAR},
      cday = #{record.cday,jdbcType=INTEGER},
      corder = #{record.corder,jdbcType=INTEGER},
      classname = #{record.classname,jdbcType=VARCHAR},
      teaname = #{record.teaname,jdbcType=VARCHAR},
      course = #{record.course,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>