<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.kq.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="cc.kq.po.Student">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stunum" jdbcType="VARCHAR" property="stunum" />
    <result column="stuname" jdbcType="VARCHAR" property="stuname" />
    <result column="stupwd" jdbcType="VARCHAR" property="stupwd" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="classid" jdbcType="INTEGER" property="classid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, stunum, stuname, stupwd, phone, classid
  </sql>
  <select id="selectByExample" parameterType="cc.kq.po.StudentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from student
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cc.kq.po.StudentExample">
    delete from student
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cc.kq.po.Student">
    insert into student (id, stunum, stuname, 
      stupwd, phone, classid
      )
    values (#{id,jdbcType=INTEGER}, #{stunum,jdbcType=VARCHAR}, #{stuname,jdbcType=VARCHAR}, 
      #{stupwd,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{classid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cc.kq.po.Student">
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="stunum != null">
        stunum,
      </if>
      <if test="stuname != null">
        stuname,
      </if>
      <if test="stupwd != null">
        stupwd,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="classid != null">
        classid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stunum != null">
        #{stunum,jdbcType=VARCHAR},
      </if>
      <if test="stuname != null">
        #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="stupwd != null">
        #{stupwd,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="classid != null">
        #{classid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cc.kq.po.StudentExample" resultType="java.lang.Integer">
    select count(*) from student
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update student
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.stunum != null">
        stunum = #{record.stunum,jdbcType=VARCHAR},
      </if>
      <if test="record.stuname != null">
        stuname = #{record.stuname,jdbcType=VARCHAR},
      </if>
      <if test="record.stupwd != null">
        stupwd = #{record.stupwd,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.classid != null">
        classid = #{record.classid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update student
    set id = #{record.id,jdbcType=INTEGER},
      stunum = #{record.stunum,jdbcType=VARCHAR},
      stuname = #{record.stuname,jdbcType=VARCHAR},
      stupwd = #{record.stupwd,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      classid = #{record.classid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cc.kq.po.Student">
    update student
    <set>
      <if test="stunum != null">
        stunum = #{stunum,jdbcType=VARCHAR},
      </if>
      <if test="stuname != null">
        stuname = #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="stupwd != null">
        stupwd = #{stupwd,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="classid != null">
        classid = #{classid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cc.kq.po.Student">
    update student
    set stunum = #{stunum,jdbcType=VARCHAR},
      stuname = #{stuname,jdbcType=VARCHAR},
      stupwd = #{stupwd,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      classid = #{classid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>